body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    background-color: #849d8f;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    position: relative;

    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.header-top__menu-list,
.header-top__navigation-list,
.main-slider__list,
.main-discount__list,
.main-catalog__list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-top {
    display: flex;
    justify-content: center;

    margin-top: 10px;
}

.header-top__logo {
    width: 154px;
    height: 64px;

    margin-right: 24px;
}

.header-top__menu-list {
    display: flex;
    flex-grow: 1;
}

.header-top__menu-item {
    padding-top: 19px;
    padding-right: 27px;
}

.header-top__menu-link {
    font-family: inherit;
    font-size: 16px;

    border-bottom: 1px solid #9fb3a8;
}

.header-top__navigation-list {
    display: flex;
}

.header-top__navigation-item {
    margin-left: 10px;
    margin-top: 13px;
}

.header-top__navigation-link {
    display: block;

    position: relative;

    padding: 8px 17px 8px 44px;

    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    background-color: #9db1a5;

    border-radius: 16px;
}

.header-top__navigation-link__search {
    padding: 8px;
    height: 17px;
}

.header-top__navigation-link__login::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 16px;

    width: 21px;
    height: 19px;

    background: url(../img/login-icon.svg) no-repeat 0 0;
}

.header-top__navigation-link__cart::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 16px;

    width: 21px;
    height: 20px;

    background: url(../img/cart-icon.svg) no-repeat 0 0;
}

.header-schedule {
    margin: 0;

    text-align: right;
    font-size: 14px;
    line-height: 16px;

    padding-bottom: 4px;
}

.header-phone__link {
    display: block;

    text-align: right;
    font-size: 22px;
    line-height: 24px;
}

.header-top__search-form {
    display: none;
}

.main-slider__list {
    padding-top: 276px;

    text-align: center;

    margin-bottom: 42px;
}

.main-slider__item-image {
    position: absolute;
    top: -9px;
    left: 78px;
    z-index: -1;
}

.main-slider__product-2,
.main-slider__product-3 {
    display: none;
}

.main-slider__item-title {
    margin: 0;
    width: 670px;
    margin: 0 auto;
    margin-bottom: 28px;

    font-size: 60px;
    line-height: 60px;
}

.button {
    display: inline-block;
    padding: 10px 41px;
  
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
  
    cursor: pointer;
}

.main-slider__item-link  {
    font-size: 32px;
    line-height: 44px;
}

.main-slider__controls {
    position: absolute;
    top: 554px;
    left: 27px;

    font-size: 0;
}

.main-slider__controls-input + .main-slider__controls-input__new{
    display: inline-block;
    vertical-align: top;

    width: 17px;
    height: 17px;
    margin-right: 8px;

    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;

}

.main-slider__controls-input__product-1:checked ~.main-slider__product-1,
.main-slider__controls-input__product-2:checked ~ .main-slider__product-2,
.main-slider__controls-input__product-3:checked ~.main-slider__product-3, {
    display: block;
}

.main-slider__controls-input:checked + .main-slider__controls-input__new{
    background-color: #ffffff;
}

.main-discount {
    margin-bottom: 40px;
}

.main-discount__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-discount__item {
    position: relative;
    width: 560px;
    border-radius: 15px; 
    height: 229px;
    padding-left: 20px;
    padding-right: 21px;
    box-sizing: border-box;

    font-size: 18px;
}

.main-discount__item-1 {
    background: url(../img/discount_raspberry.jpg) no-repeat 0 0;
}

.main-discount__item-2 {
    background: url(../img/discount_chocolate.jpg) no-repeat 0 0;
}

.main-discount__title {
    margin: 0;
    padding-top: 16px;
    margin-bottom: 15px;

    font-size: 35px;
    line-height: 41px;
}

.main-discount__text {
    margin: 0;
    margin-bottom: 45px;
}

.main-discount__link {
    position: absolute;
    bottom: 24px;
    right: 21px;
    padding: 12px 22px;
}

.main-catalog {
    margin-bottom: 40px;
}

.main-catalog__list {
    display: flex;
    flex-wrap: wrap;
}

.main-catalog__item {
    position: relative;

    width: 267px;
    margin-right: 26px;
}

.main-catalog__item:nth-child(4n) {
    margin-right: 0;
}

.main-catalog__item-image {
    position: relative;
    width: 267px;
    height: 267px;

    padding-bottom: 8px;
}

.main-catalog__item:before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 61px;
    height: 61px;

    background: url(../img/hit.png) no-repeat 0 0;

    z-index: 1;
}

.main-catalog__item-text {
    position: absolute;
    top: 209px;
    left: 0;

    font-size: 45px;
    line-height: 45px;

    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);

    margin: 0;
}

.main-catalog__item-text__size {
    font-size: 30px;
}

.main-catalog__item-title {
    font-size: 16px;
    line-height: 22px;
    
    text-decoration: underline solid #9db1a5;
    text-underline-position: under;
    text-align: center;

    margin: 0;
}

