body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-align: left;
    background-color: #849d8f;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.header-top__menu-list,
.header-top__navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-top {
    display: flex;
    justify-content: center;

    margin-top: 10px;

    font-weight: bold;
}

.header-top__logo {
    width: 154px;
    height: 64px;

    margin-right: 24px;
}

.header-top__menu-list {
    display: flex;
    flex-grow: 1;
}

.header-top__menu-item {
    padding-top: 21px;
    padding-right: 27px;
}

.header-top__menu-link {
    font-family: inherit;
    font-size: 16px;

    border-bottom: 1px solid #9fb3a8;
}

.header-top__navigation-list {
    display: flex;
}

.header-top__navigation-item {
    margin-left: 10px;
    margin-top: 13px;
}

.header-top__navigation-link {
    display: block;

    position: relative;

    padding: 8px 17px 8px 44px;

    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    background-color: #9db1a5;

    border-radius: 16px;
}

.header-top__navigation-link__search {
    padding: 8px;
    height: 17px;
}

.header-top__navigation-link__login::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 16px;

    width: 21px;
    height: 19px;

    background: url(../img/login-icon.svg) no-repeat 0 0;
}

.header-top__navigation-link__cart::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 16px;

    width: 21px;
    height: 20px;

    background: url(../img/cart-icon.svg) no-repeat 0 0;
}

.header-schedule {
    margin: 0;

    text-align: right;
    font-size: 14px;
    line-height: 16px;

    padding-bottom: 8px;
}

.header-phone__link {
    display: block;

    text-align: right;
    font-size: 22px;
    line-height: 24px;
}

.header-top__search-form {
    display: none;
}